/* ---------------------------------------------------------------Estilos comunes */
/* Estilos para el encabezado */
body{
  font-family: 'Hind', sans-serif;
  margin:0;
}
main
{
  width: 1000px;
  max-width: 80%;
  margin: 0 auto;
  font-weight: 400;
  line-height: 1.5em;
  margin-top: 3em;
}
nav {
  text-align: center; /* Centrar horizontalmente los elementos del menú */
}

nav ul {
  list-style: none; /* Eliminar los estilos por defecto de la lista */
  margin: 0; /* Eliminar el margen por defecto de la lista */
  padding: 0; /* Eliminar el relleno por defecto de la lista */
  
}

nav li {
  font-weight: bold;
  font-size: 1.1em;
  display: inline-block; /* Mostrar los elementos uno al lado del otro */
}

nav a, h1 a {
  color: #fff; /* Color del texto del menú */
  display: block; /* Convertir el elemento de enlace en un elemento de bloque para que ocupe todo el ancho del elemento padre */
  padding: 5px 10px; /* Añadir relleno alrededor del texto del enlace */
  text-decoration: none; /* Eliminar el subrayado del enlace */
}

h1 {
  color: white;
}
nav a:hover
{
  color: lightblue;
}

/* ---------------------------------------------------------------Estilos portada */
/* Estilos para el título principal */
#Portada h1 {
  
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5em;
}

#Portada h1 p:first-child{
  font-size: 0.3em;
  text-align: center;
}
#Portada h1 p:nth-of-type(2){
  margin-top: -0.7em;
}

#Portada
{
  background-color: black;
}

/* Estilos para la imagen de fondo */
#ImagenPortada {
  
  opacity: 0.7;
  background-color: Black;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  position: absolute;
  Z-index: -1;
  transform: scale(1.1, 1.1);
  transition: background-image 0.5s linear;
}

@keyframes zoom-in {
  0% {
    transform: scale(1.1, 1.1);
  }
  50% {
    transform: scale(1.2, 1.2);
  }
  100% {
    transform: scale(1.1, 1.1);
  }
}
/* ---------------------------------------------------------------Formato header */


body:not(#Portada) header
{
  background-size: cover;
  background-position: center;
}
body:not(#Portada) h1
{
  display: flex;
  flex-direction: column;
  justify-content: center; /* centra horizontalmente */
  align-items: center; /* centra verticalmente */
  height: 60vh;
  width: 100vw;
  margin: 0;
  
}

body:not(#Portada) h1 p:first-child{
  font-size: 0.5em;
  text-align: center;
  margin-bottom: 0.5em;
}
body:not(#Portada) h1 p:nth-of-type(2){
  margin-top: -0.5em;
  font-size:2em;
}

/* ---------------------------------------------------------------Estilos el pueblo */
#elpueblo header
{
  background-image: url("../static/Mier2.png");

}

#elpueblo .buttons
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: absolute;
  width: 1000px;
  max-width: 80%;
  margin-top: 90px;
}
#elpueblo .container
{
  display: flex;
  flex-direction: column; /* horizontal por defecto */
  gap: 30px;
  width: 80%;
  margin: auto;
}
#elpueblo .imageAndText {
  display: none;
  /* display: flex; */
  flex-direction: row; /* horizontal por defecto */
  gap: 20px;
}

#elpueblo .image {
  flex-basis: 50%; /* ocupa el 50% del ancho del contenedor */
}
#elpueblo .image img{
  max-width: 100%;
}
#elpueblo .image iframe{
  max-width: 100%;
}

#elpueblo .text {
  flex-basis: 50%; /* ocupa el 50% del ancho del contenedor */
}

#elpueblo .prev,
#elpueblo .next {
  transform: translateY(-50%);
  cursor: pointer;
  padding: 16px;
  font-size: 30px;
  font-weight: bold;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
}
#elpueblo .next {
  right: 0;
}

@media screen and (max-width: 768px) {
  #elpueblo .imageAndText {
    flex-direction: column; /* cambia a vertical */
  }
  
  #elpueblo .image, #elpueblo .text {
    flex-basis: 100%; /* ocupa todo el ancho del contenedor */
  }
  #elpueblo .prev, #elpueblo .next {
    padding: 6px;
    font-size: 20px;
  }
  #elpueblo .buttons
  {
    margin-top: 200px;
  } 
}



/* ---------------------------------------------------------------Estilos tursimo */
#turismo header
{
  background-image: url("../static/RutaMier.png");
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.flex-item {
  width: 100%;
  margin: 10px;
  padding: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
.flex-item img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}
@media screen and (min-width: 768px) {
  .flex-container {
    flex-direction: row;
  }
  .flex-item {
    width: 25%;
  }
}

.flex-container a,.flex-container a:visited {
  text-decoration: none;
  color: black;
}

/* ---------------------------------------------------------------Estilos comunes fichas turismpo */

 .diapoButtons
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: absolute;
  width: 1000px;
  max-width: 80%;
  margin-top:140px;
}
.diapoSlide
{
  display: flex;
  flex-direction: column; /* horizontal por defecto */
  gap: 30px;
  width: 80%;
  margin: auto;
}
.diapoPrev,
.diapoNext {
  transform: translateY(-50%);
  cursor: pointer;
  padding: 16px;
  font-size: 30px;
  font-weight: bold;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
}
.next {
  right: 0;
}

figure {
  display: none;
  margin-top: 3%;
  margin-left: 2%;
  flex-direction: column;
  /* margin: 0 auto; */
}

figure img, figure iframe {
  margin: 0 auto;
  display: block;
  border-style:none;
  width: 80%;
  height: auto;
  object-fit: cover;
}

figure figcaption {
  margin-top: 2%;
  margin-bottom: 3%;
  font-size: 70%;
  text-align: center;
}

.relacionados
{
  margin-top: 5em;
  font-weight: bold;
}
/* ---------------------------------------------------------------Estilos ruta cares */
#turismo_rutaCares header
{
  background-image: url("../static/Cares1.png");
}

/* ---------------------------------------------------------------Estilos ruta cares */
#turismo_gastronomia header
{
  background-image: url("../static/Fab.png");
}
/* ---------------------------------------------------------------Estilos ruta cares */
#turismo_molino header
{
  background-image: url("../static/Molino2.png");
}
/* ---------------------------------------------------------------Estilos sabermas */
#sabermas header
{
  background-image: url("../static/Rio.png");
}
#sabermas main a,#sabermas main a:visited
{
  text-decoration: underline;
  color: black;
}

#sabermas main li {
	margin: 0;
	padding: 30px 0 30px 60px;
	list-style: none;
	background-image: url('../img/arrowIcon.png');
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 40px;
}

.containerEnlaces
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}
.containerEnlaces ul{
  width: 30%;
}

.containerEnlaces img {
  width: 40%;
  object-fit:contain
}

@media screen and (max-width: 768px) {
  .containerEnlaces {
    flex-direction: column;

  }
  .containerEnlaces ul{
    width: 100%;
  }
  
  .containerEnlaces img {
    width: 100%;
  }
}